
        .red-text {
            color: red;
            /* Color rojo */
        }

        .blue-background {
            background-color: rgb(0, 255, 64);
            /* Fondo azul */
            color: white;
            /* Texto blanco para contraste */
            padding: 10px;
        }

        .green-border {
            border: 2px solid green;
            /* Borde sólido verde */
            padding: 10px;
        }
   