
        .box {
            width: 200px;
            height: 200px;
            background-color: lightblue;
           opacity: 0.3;
            /* Opacidad al 50% */
        }
       
        
 